@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
    --font-family: "Poppins", sans-serif;
    --font-weight-regular: 400;
   
    --red: hsl(0, 100%, 74%); 
    --green: hsl(154, 59%, 51%);
    --green-shadow: hsl(154, 59%, 43%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --shadow: hsla(249, 10%, 26%, 0.253);
    --grayish-blue: hsl(246, 25%, 77%);
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    background-image: url(/images/bg-intro-desktop.png);
    background-color: var(--red); 
}

section.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section.intro-text {
    width: 50rem;
    text-align: left;
    margin: 5rem;
}

section.intro-text h1 {
    font-size: 5rem;
    padding-bottom: 3rem;
}

section.intro-text p {
    line-height: 1.6;
}

section.sign-up-area {
    width: 50rem;
    margin-right: 5rem;
}

div.purple-banner {
    background-color: var(--blue);
    text-align: center;
    padding: 1.6rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0px .6rem var(--shadow);
    font-weight: 300;
}

span.try {
    font-weight: 600;
}

form#signup.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 45rem;
    background-color: #fff;
    padding: 3rem 1rem 3rem;
    border-radius: 10px;
    box-shadow: 0px .6rem var(--shadow);
}

/* when fixing html names this section go bugged and would not longer take the correct width. this was my fix */
div.form-field {
    width: 90%;
}

div.form-field input {
    width: 100%;
    padding: 1.5rem;
    font-family: inherit;
    font-weight: 600;
    border-radius: 5px;
    border: .1rem solid var(--shadow);
    transition: .3s border;
}

.form-field input:focus  {
    outline: none !important;
    border: .1rem solid var(--blue);   
}

.form-field.error input {
    border-color: var(--red);
}

/* this will make the error message red, message text will be made in JS */
.form-field small {
    color: var(--red);
    margin-top: .5rem;
    margin-bottom: .7rem;
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    font-size: 1rem;
}

button {
    background-color: var(--green);
    color: #fff;
    font-weight: 500;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: inherit;
    width: 90%;
    padding: 1.3rem;
    border-radius: 10px;
    box-shadow: 0px .4rem var(--green-shadow);
}

p.small-text {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--grayish-blue);
}

span.terms {
    color: var(--red);
    font-weight: 700;
}


@media only screen and (max-width: 875px) {
    body {
      margin-top: 10rem;
      margin-bottom: 13rem;
    }
    section.container {
        flex-direction: column;
        margin-top: 5rem;
    }
    section.intro-text {
        width: 32rem;
        text-align: center;
    }
    section.intro-text h1 {
        font-size: 3rem;
        padding-bottom: 2.5rem;
    }
    section.sign-up-area {
        width: 32rem;
        margin-right: 0;
        margin-bottom: ;
    }
    div.purple-banner {
        padding: 2rem 5rem;
        line-height: 2.5rem;
    }
    form#signup.form {
        padding: 1rem;
    }
    p.small-text {
        width: 75%;
        text-align: center;
        line-height: 1.7rem;
    }
  }